<div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />

    <label for="points">Points: </label>
    <input type="number" id="points" #heroPoints />

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(heroName.value, heroPoints.value); heroName.value=''; heroPoints.value=''">
        Add hero
    </button>
</div>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}, Points: {{hero.points}}
        </a>

        <button type="button" class="delete" title="delete hero"
            (click)="delete(hero)">x</button>
    </li>
</ul>